h1 {
padding: 20px;
text-align: center;
background: #347C2C;
color: black;
font-size: 35px;
margin-top: 50px;
}
nav {
overflow: hidden;
background-color: #347C17;
}	
nav a {
float: left;
display: block;
color: blue;
text-align: center;
padding: 14px 20px;
text-decoration: underline;	
}	
nav a:hover {
background-color: #ddd;
color: red;	
}	
ul {
list-style-type: none;
margin: 0;
padding: 0;	
}
img {
margin: 5px;
border: 1px solid #ccc;
float: left;
width 180px;
}		


